<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vue.js App</title>
  </head>
  <body>
    <div id="app">
      <table>
        <tr v-for="person in people" v-show="filterRow(person)">
          <td>{{ person.name }}</td>
          <td><a v-bind:href="'mailto:' + person.email">{{ person.email }}</a></td>
          <td>{{ format(person, 'balance') }}</td>
          <td>{{ format(person, 'registered') }}</td>
          <td v-bind:class="activeClass(person)">
            {{ activeStatus(person) }}
          </td>
        </tr>
      </table>

      <form>
        <label for="filter.field">
          Field:
          <select id="filter.field" v-on:change="changeFilter($event)">
            <option value="">Disable filters</option>
            <option value="isActive">Active user</option>
            <option value="name">Name</option>
            <option value="email">Email</option>
            <option value="balance">Balance</option>
            <option value="registered">Date registered</option>
          </select>
        </label>

        <label for="filter.query" v-show="this.filter.field && !isActiveFilterSelected()">
          Query:
          <input type="text" id="filter.query" v-model="filter.query">
        </label>

        <span v-show="isActiveFilterSelected()">
          Active:
          <label for="userStateActive">
            Yes:
            <input type="radio" v-bind:value="true" id="userStateActive" v-model="filter.query" selected>
          </label>
          <label for="userStateInactive">
            No:
            <input type="radio" v-bind:value="false" id="userStateInactive" v-model="filter.query">
          </label>
        </span>
      </form>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script type="text/javascript">
      // const app = new Vue().$mount('#app');
      const app = new Vue({
        el: '#app',

        data: {
          filter: {
            field: '',
            query: '',
          },
          currency: "$",
          people: [
                    {
                      "index": 0,
                      "guid": "74980a84-3762-4002-bde3-41aede8406b6",
                      "isActive": false,
                      "balance": 1060.26,
                      "name": "Kelsey Patrick",
                      "email": "kelseypatrick@indexia.com",
                      "registered": "2014-08-28T10:40:36"
                    },
                    {
                      "index": 1,
                      "guid": "fa04a7be-6741-4f75-83da-a44dfdc3014b",
                      "isActive": false,
                      "balance": 1499.08,
                      "name": "Jean Duran",
                      "email": "jeanduran@indexia.com",
                      "registered": "2016-05-27T12:07:00"
                    },
                    {
                      "index": 2,
                      "guid": "1fca61c4-2dec-43e6-8651-30285820b341",
                      "isActive": true,
                      "balance": 1155.89,
                      "name": "Gloria Cameron",
                      "email": "gloriacameron@indexia.com",
                      "registered": "2014-03-07T01:11:37"
                    },
                    {
                      "index": 3,
                      "guid": "8782b07c-8554-4985-8877-5d1cbbacf6f3",
                      "isActive": true,
                      "balance": 3320.44,
                      "name": "Bates Murphy",
                      "email": "batesmurphy@indexia.com",
                      "registered": "2017-10-12T06:52:01"
                    },
                    {
                      "index": 4,
                      "guid": "5e1d5766-f403-40b7-8d68-662a64d6237c",
                      "isActive": false,
                      "balance": 3484.89,
                      "name": "Owen Sparks",
                      "email": "owensparks@indexia.com",
                      "registered": "2016-04-14T12:36:42"
                    }
                  ]
        },

        computed: {
          messageToLower() {
            return this.message.toLowerCase();
          },
        },
        methods: {
          format(person, key) {
            let field = person[key],
                output = field.toString().trim();

            switch (key) {
              case 'balance':
                output = this.currency + field.toFixed(2);
                break;
              case 'registered':
                let registered = new Date(field);
                output = registered.toLocaleString('en-US');
                break;
            }
            return output;
          },
          changeFilter(event) {
            this.filter.query='';
            this.filter.field = event.target.value;
          },
          activeStatus(person) {
            return person.isActive ? 'Active' : 'Inactive';
          },
          activeClass(person) {
            return person.isActive ? 'active' : 'inactive';
          },
          isActiveFilterSelected() {
            return (this.filter.field === 'isActive');
          },
          filterRow(person) {
            let visible = true,
                field = this.filter.field,
                query = this.filter.query;

            if(field) {
              if(this.isActiveFilterSelected()) {
                visible = (typeof query === 'boolean') ?
                  (query === person.isActive) : true;
              } else {
                query = String(query);
                field = person[field];

                if(typeof field === 'number') {
                  try {
                    visible = eval(field + query);
                  } catch(e) {}
                } else {
                  field = field.toLowerCase();
                  visible = field.includes(query.toLowerCase());
                }
              }
            }
            return visible;
          },
        },
      });
    </script>
  </body>
</html>
