<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vue.js App</title>
  </head>
  <body>
    <div id="app">
      {{ message }}
      {{ price }}
      {{ details }}
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script type="text/javascript">
      // const app = new Vue().$mount('#app');
      const app = new Vue({
        el: '#app',

        data: {
          message: 'Hello!',
          price: 18 + 6,
          details: ['one', 'two', 'three'],
        },

        computed: {
          messageToLower() {
            return this.message.toLowerCase();
          },
        },
      });
    </script>
  </body>
</html>
